.mobil-menu-wrap
	overflow scroll
	position fixed
	padding-top 5em
	padding-left 1em
	padding-right 1em
	background-color white
	top 0
	z-index 10
	height 100vh
	min-width 80%
	transition all 0.3s ease
	transform translate3d(-100%, 0, 0)
	.products-menu-wrap
		display flex
		flex-flow column
		.product-container
			flex-flow column
			.product-item
				margin-top 0.5em
				width auto !important
				flex-flow row
				align-items center
				justify-content flex-start
				span
					padding-left 1em
.show-menu
	transform translate3d(0, 0, 0) !important
	
	
