section.haderLarge.z-depth-2
	div.decorations
		div.black
		div.blue
		div.magenta
		div.yellow
	div.container
		div.top
			div.burger-button.hide-on-med-and-up.tooglerMenu
				i.fa.fa-bars(aria-hidden='true')
			div.logo-brand
				img.responsive-img(src="img/logo.svg")
			div.menu.hide-on-small-only
				ul
					li.selected
						a(href="index.html") INICIO
					li
						a(href="nosotros.html") NOSOTROS
					li
						a(href="services.html") SERVICIOS
					li
						a(href="cotizador.html") COTIZADOR
					li
						a() BLOG
					li
						a(href="contacto.html") CONTÁCTANOS

		div.bottom.hide-on-small-only.hide-on-med-only
			include ../products-menu/index.jade


			


			


			


			


