section.haderLarge.z-depth-2
	div.decorations
		div.black
		div.blue
		div.magenta
		div.yellow
	div.container
		div.top
			div.burger-button.hide-on-med-and-up
				i.fa.fa-bars(aria-hidden='true')
			div.logo-brand
				img.responsive-img(src="img/logo.svg")
			div.menu.hide-on-small-only
				ul
					li.selected
						a() INICIO
					li
						a() NOSOTROS
					li
						a() SERVICIOS
					li
						a() COTIZADOR
					li
						a() BLOG
					li
						a() CONTÁCTANOS

		div.bottom.hide-on-small-only.hide-on-med-only
			//- div logo on scroll down
			div.product
				p PRODUCTOS
				div.product-container
					div.product-item
						img(src="img/product-1.svg")
						span Sublimación
					div.product-item
						img(src="img/icon-letras.svg")
						span Letras Block
					div.product-item
						img(src="img/icon-luminosos.svg")
						span Anuncios Luminosos
					div.product-item
						img(src="img/icon-rotu.svg")
						span Rotulación
					div.product-item
						img(src="img/icon-Display.svg")
						span Display Prefabricados
					div.product-item
						img(src="img/icon-rigidos.svg")
						span Rígidos
					div.product-item
						img(src="img/icon-lonas.svg")
						span Lonas
					div.product-item
						img(src="img/icon-vinil.svg")
						span Vinil
					div.product-item
						img(src="img/icon-herre.svg")
						span Herrería
			


			


			


			


			


