@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700");
.clightGray {
  color: #969696;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}
.lh1 {
  line-height: 0.2em !important;
}
p.title {
  font-size: 2.5em;
  line-height: 1em;
}
p.subtitle {
  font-size: 1.2em;
  color: #969696;
  max-width: 30em;
}
.italic {
  font-style: Italic;
}
.main {
  background: #fff;
}
.block-center {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.callToActionBtn {
  background-color: #d8127d !important;
  text-decoration: none !important;
}
.services-block >div {
  padding: 3em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: center;
}
.services-block >div .icon-wrap {
  height: 6em;
  display: flex;
}
.services-block >div .divider {
  width: 100%;
}
.services-block >div a {
  color: #fff;
  text-decoration: underline;
  font-size: 0.9em;
  margin: 1em;
  text-decoration: none;
  padding: 0.5em 2em;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: all 0.4s ease;
}
.services-block >div a:hover {
  box-shadow: 2px 2px 10px #000;
}
.services-block .box-title {
  font-size: 2em;
  font-weight: 400;
}
.services-block .a {
  background: #00a3da;
}
.services-block .a .divider {
  background: #0086b3;
}
.services-block .b {
  background: #89c67c;
}
.services-block .b .divider {
  background: #64a156;
}
.services-block .c {
  background: #d8127d;
}
.services-block .c .divider {
  background: #980454;
}
.four-block {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.four-block p.info {
  text-align: center;
}
.four-block >div {
  padding: 1em;
}
.four-block .header {
  display: block;
  align-items: center;
}
.four-block .header .icon {
  padding: 0.5em;
  width: 5em;
  margin-right: 1em;
  margin: 0 auto;
}
.four-block .header .title {
  color: #4a4a4a;
  font-size: 1.5em;
  font-weight: bold;
}
.four-block .info {
  color: #808080;
  text-align: justify;
}
section.jumbo {
  background: #f6f6f6;
  padding: 1em;
}
section.map {
  background: #800080;
  height: 500px;
}
@media (min-width: 600px) {
  .services-block {
    display: flex;
  }
}
@media (min-width: 992px) {
  p.subtitle {
    font-size: 1.5em;
  }
  .services-block >div {
    padding-left: 2em;
    padding-right: 2em;
  }
  .services-block img {
    width: 4em;
  }
  .services-block .box-title {
    font-size: 1.7em;
  }
  .four-block {
    text-align: left;
    display: flex;
  }
  .four-block p.info {
    text-align: left;
  }
  .four-block .header {
    display: flex;
  }
  .four-block .header .icon {
    text-align: left;
  }
  .four-block >div {
    width: 50%;
    padding-left: 5em;
    padding-right: 5em;
  }
}
@media (min-width: 1200px) {
  .services-block >div {
    padding-left: 3em;
    padding-right: 3em;
  }
}
.haderLarge {
  position: relative;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 99;
}
.haderLarge .decorations {
  right: 0;
  position: absolute;
  display: flex;
}
.haderLarge .decorations >div {
  height: 15px;
  width: 25px;
}
.haderLarge .decorations .blue {
  background: #00a3da;
}
.haderLarge .decorations .black {
  background: #000;
}
.haderLarge .decorations .magenta {
  background: #d8127d;
}
.haderLarge .container .top {
  display: flex;
  align-items: center;
}
.haderLarge .container .top .logo-brand {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.haderLarge .container .top .logo-brand img {
  width: 6em;
}
.haderLarge .container .top .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.haderLarge .container .top .menu ul {
  display: flex;
}
.haderLarge .container .top .menu ul li {
  margin-left: 1em;
}
.haderLarge .container .top .menu ul li a {
  color: #969696;
}
.haderLarge .container .top .menu ul li.selected {
  border-bottom: solid 3px #00a3da;
}
.haderLarge .container .bottom {
  display: flex;
  align-items: center;
}
.haderLarge .container .bottom .products {
  background: #0f0;
  width: 60%;
}
.haderLarge .container .statis {
  position: fixed;
}
@media (min-width: 600px) {
  .haderLarge .decorations {
    left: 30%;
  }
  .haderLarge .container .top .logo-brand {
    justify-content: flex-start;
  }
  .haderLarge .container .top .logo-brand img {
    width: auto !important;
  }
}
.header-small {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.header-small .decorations {
  left: 30%;
  position: absolute;
  display: flex;
}
.header-small .decorations >div {
  height: 10px;
  width: 25px;
}
.header-small .decorations .blue {
  background: #00a3da;
}
.header-small .decorations .black {
  background: #000;
}
.header-small .decorations .magenta {
  background: #d8127d;
}
.header-small .container {
  display: flex;
}
.header-small .container div.logo {
  flex-grow: 1;
  display: flex;
}
.header-small .container div.logo a {
  display: flex;
}
.header-small .container div.logo a .brand-small {
  margin-right: 2em;
  width: 70%;
  max-width: 100px;
}
.header-small .products-menu-wrap p {
  display: none;
}
.header-small .products-menu-wrap .product-container .product-item {
  width: 3.5em;
  margin-right: 0.4em;
}
.header-small .products-menu-wrap .product-container a span {
  font-size: 0.7em;
  display: none;
}
.carousel {
  margin-top: -1em;
}
.carousel .carousel-item .container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.carousel #one {
  background-image: url("../img/banner1.jpg");
}
@media (min-width: 992px) {
  .carousel .carousel-item .container {
    justify-content: flex-end;
  }
}
section.footer {
  padding-top: 1em;
  padding-bottom: 0em;
  color: #fff;
  background-color: #00a3da;
  text-align: center;
}
section.footer .center-align a {
  margin: 2em;
}
section.footer a {
  color: #fff;
  text-decoration: underline;
}
section.footer .terms.center-align {
  overflow: hidden;
  min-height: 50px;
  margin-top: 1em;
  padding: 10px 0px;
  border-top: solid 1px rgba(255,255,255,0.2);
  font-size: 0.8em;
  background: #038dbb;
  width: 100%;
  diplay: flex;
  margin-bottom: 0;
}
section.footer .terms.center-align span {
  font-weight: 300;
}
section.footer .terms.center-align a {
  color: #51bce0;
  text-decoration: none;
}
@media (min-width: 600px) {
  .flex3 {
    display: flex;
  }
  .flex3 div {
    flex-basis: 33.33%;
  }
  .flex3 .brand-logo1 {
    text-align: left;
  }
  .flex3 .brand-logo {
    text-align: right;
  }
  .terms.center-align span {
    max-width: 70%;
  }
  .footer {
    text-align: center;
  }
}
.banner-info {
  background: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  max-width: 530px;
  text-align: center;
}
.banner-info p.banner-title {
  color: #767676;
  font-size: 1.2em !important;
  font-weight: bold;
}
.banner-info .description {
  color: #d8127d;
  font-size: 1em !important;
}
.banner-info .callToActionBtn {
  font-size: 1em !important;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 992px) {
  .banner-info {
    text-align: right;
  }
  .banner-info p.banner-title {
    font-size: 2.2em !important;
    font-weight: 400;
  }
  .banner-info .description {
    font-size: 1.5em !important;
  }
}
.main-product {
  margin: 3em 0;
}
.main-product .product-wrap {
  text-align: center;
}
.main-product .product-wrap .producto {
  text-align: center;
  margin: 1em 0;
}
.main-product .product-wrap .producto .selectores {
  margin: 1em 0;
}
.main-product .product-wrap .producto .selectores a {
  padding: 0.5em 3.5em;
  border-radius: 5px;
}
.main-product .product-wrap .producto .selectores a:focus {
  background: #f2f2f2;
}
.main-product .product-wrap .description h6 {
  color: #9b9b9b;
}
.main-product .galeria {
  margin: 3em 0;
  padding: 2em 1em;
  background: #f6f6f6;
  text-align: center;
}
@media (min-width: 992px) {
  .product-wrap {
    display: flex;
    margin: 0 2em;
  }
  .product-wrap .product-item img {
    width: 90px;
  }
  .product-wrap .selectores a {
    display: block;
  }
  .product-wrap .description {
    padding: 1em 2em;
    margin: 0 2em;
    text-align: left;
    border-left: 2px solid #f2f2f2;
  }
  .galeria h5 {
    float: left;
  }
  .galeria a img {
    width: 600px;
  }
}
.main-blog {
  top: 0;
  position: relative;
  text-align: center;
}
.main-blog .blog-wrap {
  margin: 0;
}
.main-blog .blog-wrap .blog {
  margin: 0;
  padding: 2em;
}
.main-blog .blog-wrap .content {
  max-width: 500px;
  margin: 0 auto;
}
.main-blog .blog-wrap #title {
  background: #00a3da;
  color: #fff;
  text-align: center;
}
.main-blog .blog-wrap #title img {
  width: 2em;
}
.main-blog .blog-wrap .info {
  text-align: center;
}
@media (min-width: 992px) {
  .main-blog {
    text-align: left;
  }
  .main-blog .blog-wrap .fila1 {
    display: flex;
  }
  .main-blog .blog-wrap .fila2 {
    display: flex;
  }
}
.main-contact {
  margin: 2em 0;
  text-align: center;
}
.main-contact .contact-wrap .message h3 {
  font-weight: 600;
}
.main-contact .contact-wrap .message p {
  color: #808080;
}
.main-contact .contact {
  margin: 1em;
  padding: 0 0 0.1em 0;
}
.main-contact .contact .contact-title {
  padding: 1.5em;
  background: #00a3da;
  color: #fff;
}
.main-contact .contact .contact-title h5 {
  font-weight: 500;
}
.main-contact .contact .contact-title p {
  font-weight: 300;
}
.main-contact .contact .formulario {
  padding: 2em;
}
.main-contact .contact a.botton.enviar {
  display: block;
}
.main-contact .info {
  margin: 3em 0;
}
@media (min-width: 992px) {
  .contact .contact-title {
    text-align: left;
  }
  .contact .contact-title img {
    float: right;
  }
}
.main-service {
  margin: 3em 0;
}
.main-service .service-wrap {
  text-align: center;
}
.main-service .service-wrap .servicios a {
  padding: 1em 1.5em;
  margin: 1em 0.5em;
  border-radius: 3px;
span
}
.main-service .service-wrap .servicios a:focus {
  background: #f2f2f2;
}
.main-service .service-wrap .description {
  margin: 0em 2em;
}
.main-service .service-wrap .description h6 {
  color: #9b9b9b;
}
@media (max-width: 992px) {
  .servicios a span {
    display: none;
  }
}
@media (min-width: 992px) {
  .service-wrap {
    display: flex;
  }
  .service-wrap .servicios a {
    display: block;
    padding: 3em;
  }
  .service-wrap .description {
    margin: 0 3em;
    text-align: left;
    border-left: 2px solid #f2f2f2;
    padding: 1em 2em;
  }
}
.main-nosotros {
  top: 0;
  position: relative;
  text-align: center;
  margin: 0;
}
.main-nosotros .nosotros-wrap .nosotros {
  margin: 0;
  padding: 2em;
}
.main-nosotros .nosotros-wrap #somos {
  color: #fff;
  background: #00a3da;
}
.main-nosotros .nosotros-wrap #mision {
  color: #fff;
  background: #333;
}
.main-nosotros .nosotros-wrap #vision {
  background: #f3f3f3;
}
.main-nosotros .nosotros-wrap .nos-info {
  max-width: 600px;
  margin: 0 auto;
}
.main-billing {
  margin: 2em 0;
  text-align: center;
}
.main-billing .billing {
  margin: 1em;
  padding: 0 0 0.1em 0;
}
.main-billing .billing-wrap .message h3 {
  font-weight: 500;
}
.main-billing .billing-wrap .message p {
  color: #808080;
}
.main-billing .billing-wrap .message h6 {
  font-weight: 500;
}
.main-billing .billing-wrap .billing-title {
  padding: 1.5em;
  background: #00a3da;
  color: #fff;
}
.main-billing .billing-wrap .billing-title h5 {
  font-weight: 500;
}
.main-billing .billing-wrap .billing-title p {
  font-weight: 300;
}
.main-billing .billing-wrap .formulario {
  padding: 2em;
}
.main-billing .billing-wrap a.botton.enviar {
  display: block;
}
.main-billing .info {
  margin: 3em 0;
}
@media (min-width: 992px) {
  .billing .billing-title {
    text-align: left;
  }
  .billing .billing-title img {
    float: right;
  }
}
.main-depositos {
  top: 0;
  text-align: center;
  position: relative;
}
.main-depositos .depositos-wrap {
  margin: 0;
}
.main-depositos .depositos-wrap .depositos {
  margin: 0;
  padding: 2em;
}
.main-depositos .depositos-wrap .depositos img {
  width: 10em;
}
.main-depositos .depositos-wrap #info {
  background: #00a3da;
  color: #fff;
}
.main-depositos .depositos-wrap #info img {
  width: 2em;
}
.main-depositos .depositos-wrap .banco h6 {
  font-weight: 600;
color
}
.main-depositos .depositos-wrap .banco img {
  padding: 1em;
  border-bottom: 2px solid #00a3da;
}
.main-formatos {
  top: 0;
  text-align: center;
  position: relative;
}
.main-formatos .formatos-wrap {
  margin: 0;
}
.main-formatos .formatos-wrap .formato {
  margin: 0;
  padding: 2em;
}
.main-formatos .formatos-wrap .content {
  max-width: 500px;
  margin: 0 auto;
}
.main-formatos .formatos-wrap #title {
  background: #00a3da;
  color: #fff;
}
.main-formatos .formatos-wrap #title img {
  width: 2em;
}
@media (min-width: 992px) {
  .formatos-wrap {
    display: block;
  }
  .formatos-line1 {
    display: flex;
  }
  .formatos-line1 .formato {
    text-align: left;
  }
  .formatos-line2 {
    display: flex;
  }
  .formatos-line2 .formato {
    text-align: left;
  }
}
.mobil-menu-wrap {
  overflow: scroll;
  position: fixed;
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #fff;
  top: 0;
  z-index: 10;
  height: 100vh;
  min-width: 80%;
  transition: all 0.3s ease;
  transform: translate3d(-100%, 0, 0);
}
.mobil-menu-wrap .products-menu-wrap {
  display: flex;
  flex-flow: column;
}
.mobil-menu-wrap .products-menu-wrap .product-container {
  flex-flow: column;
}
.mobil-menu-wrap .products-menu-wrap .product-container .product-item {
  margin-top: 0.5em;
  width: auto !important;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}
.mobil-menu-wrap .products-menu-wrap .product-container .product-item span {
  padding-left: 1em;
}
.show-menu {
  transform: translate3d(0, 0, 0) !important;
}
.products-menu-wrap .product-container {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
}
.products-menu-wrap .product-container .product-item {
  text-align: center;
  display: flex;
  width: 4.6em;
  flex-wrap: wrap;
  flex-flow: column;
  transition: all 0.3s ease;
}
.products-menu-wrap .product-container .product-item:hover span {
  color: #00a3da;
}
.products-menu-wrap .product-container .product-item span {
  color: #969696;
  text-align: center;
  margin-top: 0.6em;
  line-height: 1em;
  font-size: 0.8em;
}
@media (min-width: 992px) {
  .products-menu-wrap .product-container .product-item {
    width: 5.5em;
  }
  .products-menu-wrap .product-container .product-item span {
    font-size: 0.9em;
  }
}
@media (min-width: 1200px) {
  .products-menu-wrap .product-container .product-item {
    margin-right: 0.7em;
    margin-left: 0.7em;
    width: 4.5em;
  }
}
