@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700");
.clightGray {
  color: #969696;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.lh1 {
  line-height: 0.2em !important;
}
p.title {
  font-size: 2.5em;
  line-height: 1em;
}
p.subtitle {
  font-size: 1.2em;
  color: #969696;
  max-width: 30em;
}
.italic {
  font-style: Italic;
}
.main {
  background: #fff;
}
.block-center {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.callToActionBtn {
  background-color: #d8127d !important;
  text-decoration: none !important;
}
.services-block >div {
  padding: 3em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: center;
}
.services-block >div .icon-wrap {
  height: 6em;
  display: flex;
}
.services-block >div .divider {
  width: 100%;
}
.services-block >div a {
  color: #fff;
  text-decoration: underline;
  font-size: 0.9em;
}
.services-block .box-title {
  font-size: 2em;
  font-weight: 100;
}
.services-block .a {
  background: #00a3da;
}
.services-block .a .divider {
  background: #0086b3;
}
.services-block .b {
  background: #89c67c;
}
.services-block .b .divider {
  background: #64a156;
}
.services-block .c {
  background: #d8127d;
}
.services-block .c .divider {
  background: #980454;
}
.four-block {
  flex-wrap: wrap;
}
.four-block >div {
  padding: 1em;
}
.four-block .header {
  display: flex;
  align-items: center;
}
.four-block .header .icon {
  padding: 0.5em;
  width: 5em;
  margin-right: 1em;
}
.four-block .header .title {
  color: #4a4a4a;
  font-size: 1.5em;
  font-weight: bold;
}
.four-block .info {
  color: #808080;
  text-align: justify;
}
section.jumbo {
  background: #f6f6f6;
  padding: 1em;
}
section.map {
  background: #800080;
}
@media (min-width: 600px) {
  .services-block {
    display: flex;
  }
}
@media (min-width: 992px) {
  p.subtitle {
    font-size: 1.5em;
  }
  .services-block >div {
    padding-left: 3em;
    padding-right: 3em;
  }
  .services-block img {
    width: 4em;
  }
  .services-block .box-title {
    font-size: 1.7em;
  }
  .four-block {
    display: flex;
  }
  .four-block >div {
    width: 50%;
    padding-left: 5em;
    padding-right: 5em;
  }
}
.haderLarge {
  position: relative;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 99;
}
.haderLarge .decorations {
  right: 0;
  position: absolute;
  display: flex;
}
.haderLarge .decorations >div {
  height: 15px;
  width: 25px;
}
.haderLarge .decorations .blue {
  background: #00a3da;
}
.haderLarge .decorations .black {
  background: #000;
}
.haderLarge .decorations .magenta {
  background: #d8127d;
}
.haderLarge .container .top {
  display: flex;
  align-items: center;
}
.haderLarge .container .top .logo-brand {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.haderLarge .container .top .logo-brand img {
  width: 6em;
}
.haderLarge .container .top .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.haderLarge .container .top .menu ul {
  display: flex;
}
.haderLarge .container .top .menu ul li {
  margin-left: 1em;
}
.haderLarge .container .top .menu ul li a {
  color: #969696;
}
.haderLarge .container .top .menu ul li.selected {
  border-bottom: solid 3px #00a3da;
}
.haderLarge .container .bottom .products {
  background: #0f0;
  width: 60%;
}
.product-container {
  padding-bottom: 1em;
  display: flex;
}
.product-container .product-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  width: 5em;
  flex-wrap: wrap;
  flex-flow: column;
}
.product-container .product-item span {
  color: #969696;
  text-align: center;
  margin-top: 0.6em;
  line-height: 1em;
}
@media (min-width: 600px) {
  .haderLarge .decorations {
    left: 30%;
  }
  .haderLarge .container .top .logo-brand {
    justify-content: flex-start;
  }
  .haderLarge .container .top .logo-brand img {
    width: auto !important;
  }
}
.carousel {
  margin-top: -1em;
}
.carousel .carousel-item#one {
  background-image: url("../img/banner1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel .carousel-item#one .modal-info {
  background: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 4px;
  padding: 1.5em;
}
.carousel .carousel-item#one .modal-info h2 {
  color: #808080;
  text-align: center;
}
.carousel .carousel-item#one .modal-info p.white-text {
  color: #d8127d;
}
section.footer {
  padding-top: 1em;
  padding-bottom: 0em;
  color: #fff;
  background-color: #00a3da;
}
section.footer a {
  color: #fff;
  text-decoration: underline;
}
section.footer .terms.center-align {
  overflow: hidden;
  min-height: 50px;
  margin-top: 1em;
  padding: 10px 0px;
  border-top: solid 1px rgba(255,255,255,0.2);
  font-size: 0.8em;
  background: #038dbb;
  width: 100%;
  diplay: flex;
  margin-bottom: 0;
}
section.footer .terms.center-align span {
  font-weight: 300;
}
section.footer .terms.center-align a {
  color: #51bce0;
  text-decoration: none;
}
@media (min-width: 600px) {
  .flex3 {
    display: flex;
  }
  .flex3 >div {
    flex-basis: 33.33%;
  }
  .terms.center-align span {
    max-width: 70%;
  }
}
.banner-info {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 1.5em;
  margin-top: 50px;
  border-radius: 5px;
  max-width: 450px;
}
.banner-info h2 {
  color: #767676;
}
.banner-info p {
  color: #d8127d;
}
@media (min-width: 1200px) {
  .banner-info {
    float: left;
    margin-left: 15em;
  }
}
