.main-formatos
	
	top 0
	text-align center
	position relative
	
	.formatos-wrap
		margin 0
		
		.formato
			margin 0
			padding 2em
		.content
			max-width 500px
			margin 0 auto
			
		#title
			background #00A3DA
			color white
			img 
				width 2em
@media (min-width $md)
	
	.formatos-wrap
		display block
		
	.formatos-line1
		display flex
		.formato
			text-align left
		
	.formatos-line2
		display flex
		.formato
			text-align left
		
		
		
		
			
	
		

	