include ./../../head.jade
body
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-service
		div.container
			section.service-wrap
				div.servicios
					a(href="services.html")
						img(src="img/Asesoria corporativa.svg")
						span Asesoría corporativa
					a(href="proyecto.html")
						img(src="img/consultant.svg")
						br
						span Asesoría de nuevos proyectos
					a(href="instalacion.html")
						img(src="img/Bill.svg")
						span Instalación y mantenimiento
				div.description
					h6 SERVICIO
					h3 Instalación y mantenimiento
					p Un producto sin la instalación correcta pierde su efectividad, es por eso que ponemos a tu servicio la instalación y mantenimiento de todos los productos que realizamos, así podrás confiar que será colocado de manera optima!!
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a(href="cotizador.html").btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
					



					


	include ./../../components/footer/index.jade
