include ./../../head.jade
body
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-service
		div.container
			section.service-wrap
				div.servicios
					a(href="#")
						img(src="img/Asesoria corporativa.svg")
						span Asesoria corporativa
					a(href="#")
						img(src="img/consultant.svg")
						span Asesoria de nuevos proyectos
					a(href="#")
						img(src="img/Bill.svg")
						span Cotiza tu proyecto
				div.description
					h6 SERVICIO
					h3 Asesoría en proyectos nuevos
					p Cuéntanos tus ideas y necesidades, seguramente te podemos recomendar la mejor opción de impresión para llevar a cabo ese proyecto, con nuestra experiencia, pasión y creatividad hemos realizados muchos proyectos exitosos no te limites nosotros te asesoramos.
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
					



					


	include ./../../components/footer/index.jade
