include ./../../head.jade
body(data-section="servicios")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-service
		div.container
			section.service-wrap
				div.servicios
					a(href="services.html")
						img(src="img/Asesoria corporativa.svg")
						span Asesoría corporativa
					a(href="proyecto.html")
						img(src="img/consultant.svg")
						br
						span Asesoría de nuevos proyectos
					a(href="instalacion.html")
						img(src="img/Bill.svg")
						span Instalación y mantenimiento
				div.description
					h6 SERVICIO
					h3 Asesoría Corporativa
					p Contamos con un equipo con amplia experiencia en materiales de impresión lo que nos permite ofrecer alternativas de decoración y señalización personalizados para tu negocio, oficina o empresa que trasmitan la imagen de tu marca, buscando hacer tus espacios más atractivos para tus clientes!!
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a(href="cotizador.html").btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
					



					


	include ./../../components/footer/index.jade
