div.products-menu-wrap
	p PRODUCTOS
	div.product-container
		a(href="products.html").product-item
			img(src="img/product-1.svg")
			span Sublimación
		a.product-item
			img(src="img/icon-letras.svg")
			span Letras Block
		a.product-item
			img(src="img/icon-luminosos.svg")
			span Anuncios Luminosos
		a.product-item
			img(src="img/icon-rotu.svg")
			span Rotulación
		a.product-item
			img(src="img/icon-Display.svg")
			span Display Prefabricados
		a.product-item
			img(src="img/icon-rigidos.svg")
			span Rígidos
		a.product-item
			img(src="img/icon-lonas.svg")
			span Lonas
		a.product-item
			img(src="img/icon-vinil.svg")
			span Vinil
		a.product-item
			img(src="img/icon-herre.svg")
			span Herrería