.products-menu-wrap
	.product-container
		padding-top 1em
		padding-bottom 1em
		display flex
		.product-item
			text-align center
			// margin-left 0.5em
			// margin-right 0.5em
			display flex
			width 5em
			flex-wrap wrap
			flex-flow column
			span
				color $lightGray
				text-align center
				margin-top 0.6em
				line-height 1em

@media (min-width $lg)
	.products-menu-wrap
		.product-container
			.product-item
				margin-right 0.7em
				margin-left 0.7em
				width 5.5em