div.products-menu-wrap
	p PRODUCTOS
	div.product-container
		a(href="products.html").product-item
			img(src="img/product-1.svg")
			span Sublimación
		a(href="letras.html").product-item
			img(src="img/icon-letras.svg")
			span Letras Block
		a(href="anuncios.html").product-item
			img(src="img/icon-luminosos.svg")
			span Anuncios Luminosos
		a(href="rotulacion.html").product-item
			img(src="img/icon-rotu.svg")
			span Rotulación
		a(href="display.html").product-item
			img(src="img/icon-Display.svg")
			span Display Prefabricados
		a(href="rigidos.html").product-item
			img(src="img/icon-rigidos.svg")
			span Rígidos
		a(href="lonas.html").product-item
			img(src="img/icon-lonas.svg")
			span Lonas
		a(href="vinil.html").product-item
			img(src="img/icon-vinil.svg")
			span Vinil
		a(href="herreria.html").product-item
			img(src="img/icon-herre.svg")
			span Herrería