.products-menu-wrap
	.product-container
		padding-top 1em
		padding-bottom 1em
		display flex
		.product-item
			padding-top 0.5em
			padding-bottom 0.5em
			
			text-align center
			// margin-left 0.5em
			// margin-right 0.5em
			display flex
			width 4.6em
			flex-wrap wrap
			flex-flow column
			transition all 0.3s ease
			&:hover
				// background-color $gray01
				span
					color $blue
			&.active
				background $blue !important
				border-radius 5px
				span
					color white !important
			span
				color $lightGray
				text-align center
				margin-top 0.6em
				line-height 1em
				font-size 0.8em
@media (min-width $md)
	.products-menu-wrap
		.product-container
			.product-item
				width 5.5em
				span
					font-size 0.9em
@media (min-width $lg)
	.products-menu-wrap
		.product-container
			.product-item
				margin-right 0.7em
				margin-left 0.7em
				width 4.5em