div.products-menu-wrap
	p PRODUCTOS
	div.product-container
		a(href="products.html" data-item="sublimacion").product-item
			img(src="img/product-1.svg")
			span Sublimación
		a(href="letras.html" data-item="letras").product-item
			img(src="img/icon-letras.svg")
			span Letras Block
		a(href="anuncios.html" data-item="anuncios").product-item
			img(src="img/icon-luminosos.svg")
			span Anuncios
		a(href="rotulacion.html" data-item="rotulacion").product-item
			img(src="img/icon-rotu.svg")
			span Rotulación
		a(href="display.html" data-item="display").product-item
			img(src="img/icon-Display.svg")
			span Prefabricados
		a(href="rigidos.html" data-item="rigidos").product-item
			img(src="img/icon-rigidos.svg")
			span Rígidos
		a(href="lonas.html" data-item="lonas").product-item
			img(src="img/icon-lonas.svg")
			span Lonas
		a(href="vinil.html" data-item="vinil").product-item
			img(src="img/icon-vinil.svg")
			span Vinil
		a(href="herreria.html" data-item="herreria").product-item
			img(src="img/icon-herre.svg")
			span Herrería