.main-depositos
	top 0
	text-align center
	position relative
	.depositos-wrap
		margin 0
		.depositos
			margin 0
			padding 2em
			
			img 
				width 10em
		#info
			background #00A3DA
			color white
			img 
				width 2em
		.banco
			h6
				font-weight 600
				color
			img
				padding 1em
				border-bottom 2px solid #00A3DA
			
		
			