.banner-info
	background #fff
	width 70%
	margin 0 auto
	padding .5em 2em
	margin-top 50px
	border-radius 5px
	max-width 530px
	text-align center
	h1
		color #767676
		font-size 1.5em
		font-weight bold
		
		
	p 
		color #D8127D
		font-size 1.5em
	a 
		margin 2em
@media (min-width $lg)
	.banner-info
		float right
		margin-right 15em
		text-align right
		h1, p
			magin-right 1em
	
		