.banner-info
	background #fff
	width 70%
	margin 0 auto
	padding 1.5em
	margin-top 50px
	border-radius 5px
	max-width 450px
	h2
		color #767676
	p 
		color #D8127D
@media (min-width $lg)
	.banner-info
		float left
		margin-left 15em