.header-small
	background-color white
	position fixed
	top 0
	z-index 10
	width 100%
	.decorations
		left 30%
		position absolute
		display flex
		>div
			height 15px
			width 25px
		.blue
			background $blue
		.black
			background black
		.magenta
			background $magenta
	.container
		display flex
		div.logo
			display flex
			flex-grow 2
			.brand-small
				margin-right 2em
				width 50%
				max-width 100px
	.products-menu-wrap
		p
			display none
		.product-container
			.product-item
				
				width auto !important
				margin-right 0.4em
			a
				span
					font-size 0.7em
					display none