section.header-small.z-depth-2.hide-on-small-only.hide-on-med-only
	div.decorations
		div.black
		div.blue
		div.magenta
		div.yellow
	.container
		div.logo
			a(href="index.html")
				img.responsive-img.brand-small(src="img/logo.svg")
		include ../products-menu/index.jade


			


			


			


			


