include ./../../head.jade
body(data-section="productos" data-producto="anuncios")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-luminosos.svg")
					//- div.selectores
					//- 	a(href="#") Lona
					//- 	a(href="#") Acrilico
				//-hr
				div.description
					h6 PRODUCTO
					h3 Anuncios Luminosos
					p Este producto es perfecto para realzar la fachada de tu negocio, contamos con amplia variedad de diseños y podemos incluir foto celda o TIMER para el encendido y apagado automático si así lo prefieres. 
					
					div.call-to-action
						p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
						a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="img/product-gallery/lumin 1.jpg")
					div 
						img.responsive-img(src="img/product-gallery/lumin 2.jpg")
					div 
						img.responsive-img(src="img/product-gallery/lumin 3.jpg")
					div 
						img.responsive-img(src="img/product-gallery/lumin 4.jpg")

					


	include ./../../components/footer/index.jade

