include ./../../head.jade
body(data-section="productos")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-herre.svg")
					//- div.selectores
					//- 	a(href="#") Tela
					//- 	a(href="#") Acrilico
				hr
				div.description
					h6 PRODUCTO
					h3 Herrería
					p Contamos con un taller de herrería para la fabricación de todo tipo de estructuras y bases para anuncios, personalizando las dimensiones y formas. Estructuras que le permiten montar e instalar  su publicidad en cualquier superficies y diferentes aplicaciones según sus necesidades, las  estructuras más solicitadas son:
					div.collection
						li.collection-item Toldos.
						li.collection-item Caballetes.
						li.collection-item Espectaculares.
						li.collection-item Mamparas.
						li.collection-item Estructuras F para pendones.
						li.collection-item Carpas.
						li.collection-item Bastidores.
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="../img/product-gallery/FACEBOOK-09.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/FACEBOOK-09.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/FACEBOOK-09.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/FACEBOOK-09.jpg")
					


	include ./../../components/footer/index.jade