include ./../../head.jade
body
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-herre.svg")
					div.selectores
						a(href="#") Tela
						a(href="#") Acrilico
				hr
				div.description
					h6 PRODUCTO
					h3 Herrería
					p Contamos con un taller de herrería para la fabricación de todo tipo de estructuras y bases para anuncios, personalizando las dimensiones y formas. Estructuras que le permiten montar e instalar  su publicidad en cualquier superficies y diferentes aplicaciones según sus necesidades, las  estructuras más solicitadas son:
					ul
						li Toldos.
						li Caballetes.
						li Espectaculares.
						li Mamparas.
						li Estructuras F para pendones.
						li Carpas.
						li Bastidores.
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			h4 Galeria
			a(href="#")
				img.responsive-img(src="../img/imgres.jpg")
			a(href="#")
				img.responsive-img(src="../img/tazas.jpg")
			a(href="#")
				img.responsive-img(src="../img/Ropa.jpg")
			a(href="#")
				img.responsive-img(src="../img/Impres.jpg")


					


	include ./../../components/footer/index.jade