.main-product
	margin 3em 0
	.product-wrap
		display flex
		flex-flow column
		
		//background red
		.producto
			display flex
			justify-content center
			
			//background lime
			
			
		.description
			//background orange
			text-align center
			max-width 750px
			.call-to-action
				justify-content center
				display flex
				flex-flow column
				a
					
					
			
	.galeria
		margin 3em 0
		padding 2em 1em
		background #F6F6F6
		text-align center
		div.container
			.img-gallery
				flex-flow column
				div
					width 100%
					
				
			
@media (min-width $sm)
	.main-product
		.product-wrap
			//background blue
			flex-flow row
			.producto
				flex-basis 200px
			.description
				flex-grow 2
				text-align left
				border-left 2px solid #E6E7E8
				padding-left 2em
				.call-to-action
					a
						max-width 250px
		.galeria
			div.container
				.img-gallery
					display flex
					flex-flow row
					div
						width 25%
					
				