.main-product
	margin 3em 0
	.product-wrap
		text-align center
		.producto
			text-align center
			
			margin 1em 0
			.selectores
				margin 1em 0
				a
					padding .5em 3.5em
					border-radius 5px
				a:focus
					background #F2F2F2
		.description
			h6
				color #9B9B9B
			
				
	.galeria
		margin 3em 0
		padding 2em 1em
		background #F6F6F6
		text-align center
		div.container
			.img-gallery
				flex-flow column
				div
					width 100%
					
				
			
@media (min-width $sm)
	.product-wrap
		display flex
		margin 0 2em
		.product-item img
			width 90px
			
		.selectores
			a
				display block
			
		.description
			padding 1em 2em
			margin 0 2em
			text-align left
			border-left 2px solid #F2F2F2
	.main-product			
		.galeria
			div.container
				.img-gallery
					display flex
					flex-flow row
					div
						width 25%