include ./../../head.jade
body(data-section="productos")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-letras.svg")
					//- div.selectores
					//- 	a(href="#") Acrilico
					//- 	a(href="#") PVC
				//-hr
				div.description
					h6 PRODUCTO
					h3 Letras tipo Block
					p ¿Necesitas darle un toque sofisticado a tu negocio? Te ofrecemos las Letras en Block o 3D ya que hacen de tu negocio un espacio más llamativo, nos especializamos en: 
					div.collection
						li.collection-item Letras de PVC del color de tu preferencia, en calibre 10mm, 6mm y 5mm.
						li.collection-item Letras de Aluminio jaspeado o  natural.
						li.collection-item Letras de Acrílico blanco o transparente.
						li.collection-item Variedad de materiales según tu preferencia.
					p Además en cualquier caso pueden tener luz LED de fondo si así lo prefieres. ¡Anímate!

					div.call-to-action
						p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
						a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="img/product-gallery/letras.jpg")
					div 
						img.responsive-img(src="img/product-gallery/_DSC9461.jpg")
					div 
						img.responsive-img(src="img/product-gallery/_DSC9467.jpg")
					div 
						img.responsive-img(src="img/product-gallery/letras 2.jpg")


					


	include ./../../components/footer/index.jade

