include ./../../head.jade
body(data-section="productos")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-lonas.svg")
					//- div.selectores
					//- 	a(href="#") Tela
					//- 	a(href="#") Acrilico
				//-hr
				div.description
					h6 PRODUCTO
					h3 Lona
					p Todas las lonas que imprimimos son con la más alta calidad y tintas amigables con el medio ambiente, por lo general su grosor es de 13 oz. Son ideales cuando necesitas dar a conocer a tus clientes una promoción o darle una mejor vista a tu local. 
					p Los tipos de lonas que manejamos son las siguientes:
					div.collection
						li.collection-item Lona de 13 oz. 
						li.collection-item Lona MESH.
						li.collection-item Lona Black Out.
						li.collection-item Lona traslúcida.
					div.call-to-action
						p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
						a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
			
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="img/product-gallery/lona 1.jpg")
					div
						img.responsive-img(src="img/product-gallery/lona 2.jpg")
					div 
						img.responsive-img(src="img/product-gallery/lona 3.jpg")
					div 
						img.responsive-img(src="img/product-gallery/lona 4.jpg")

						


	include ./../../components/footer/index.jade

