include ./../../head.jade
body
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/product-1.svg")
					div.selectores
						a(href="#") Tela
						a(href="#") Acrilico
				hr
				div.description
					h6 PRODUCTO
					h3 Sublimacion
					p Es una técnica de impresión sobre objetos muy práctica, que permite decorar tu casa u oficina con tu estilo personal. Comúnmente realizamos:
					ul
						li Sublimación en Telas.
						li Banderas y banderines empresariales.
						li Uniformes Deportivos, Empresariales, Escolares.
						li Cordones para gafete.
						li Mascadas.
						li Tazas
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galeria
				div.img-gallery
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9507.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9526.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9590.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9592.jpg")



					


	include ./../../components/footer/index.jade

