include ./../../head.jade
body(data-section="productos")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-rigidos.svg")
					//- div.selectores
					//- 	a(href="#") Tela
					//- 	a(href="#") Acrilico
				//- hr
				div.description
					h6 PRODUCTO
					h3 Rígidos
					p Imprimimos tus diseños en una amplia variedad de materiales según tu necesidad los más solicitados son: 
					div.collection
						li.collection-item Coroplast.
						li.collection-item PVC.
						li.collection-item Estireno.
						li.collection-item Acrílico.
						li.collection-item Lamina.
					p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
					a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="../img/product-gallery/FACEBOOK-09.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9618.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9440.jpg")
					div 
						img.responsive-img(src="../img/product-gallery/_DSC9441.jpg")
					


	include ./../../components/footer/index.jade

