include ./../../head.jade
body(data-section="productos")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-rotu.svg")
					//- div.selectores
					//- 	a(href="#") Tela
					//- 	a(href="#") Acrilico
				//-hr
				div.description
					h6 PRODUCTO
					h3 Rotulación
					h6 Rotulación Vehicular
					p Personalizamos tus unidades con vinil impreso o en corte, así puedas utilizarlas como anuncios rodantes.
					h6 Rotulación Corporativa
					p Dale una mejor imagen a tu casa y negocio con viniles decorativos y señalizaciones, contamos con amplia variedad de materiales. 
					
					
					div.call-to-action
						p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
						a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="img/product-gallery/FACEBOOK-09.jpg")
					div 
						img.responsive-img(src="img/product-gallery/_DSC9551.jpg")
					div 
						img.responsive-img(src="img/product-gallery/_DSC9565.jpg")
					div 
						img.responsive-img(src="img/product-gallery/FACEBOOK-09.jpg")
					


	include ./../../components/footer/index.jade

