include ./../../head.jade
body(data-section="productos")
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-product
		div.container
			section.product-wrap
				div.producto
					div.product-item
						img(src="img/icon-vinil.svg")
					//- div.selectores
					//- 	a(href="#") Tela
					//- 	a(href="#") Acrilico
				//-hr
				div.description
					h6 PRODUCTO
					h3 Vinil
					p Una infinidad de diseños y acabados que puedes darle a tu negocio, ideales para pegar sobre cristal o sobre algún rígido; en nuestra amplia variedad contamos con:
					div.collection
						li.collection-item Vinil para impresión.
						li.collection-item Con respaldo gris o blanco.
						li.collection-item Electroestático.
						li.collection-item Micro perforado. 
						li.collection-item Reflejante.
						li.collection-item Fotoluminicente.
						li.collection-item Traslúcido. 
						li.collection-item Esmerilado.
						li.collection-item Jaspeado.
					div.call-to-action
						p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
						a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		div.galeria
			div.container
				h4 Galería
				div.img-gallery
					div 
						img.responsive-img(src="img/product-gallery/vinil 1.jpg")
					div 
						img.responsive-img(src="img/product-gallery/_DSC9578.jpg")
					div 
						img.responsive-img(src="img/product-gallery/vinil 2.jpg")
					div 
						img.responsive-img(src="img/product-gallery/vinil 3.jpg")

					


	include ./../../components/footer/index.jade

