include ./../../head.jade
body
	//- section.haderLarge
	include ./../../components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-blog
		section.blog-wrap
			div.blog#title
					h4 Blog
					p Noticias Relevantes
					img(src="img/flecha.svg")
			div.container
				div.row
					article.col.s6
						img
						h4 Lorem ipsum
						h6 2 de Junio de 2017
						a(href="#") Ver más
					article.col.s6
						img
						h4 Lorem ipsum
						h6 2 de Junio de 2017
						a(href="#") Ver más
				div.row
					article.col.s6
						img
						h4 Lorem ipsum
						h6 2 de Junio de 2017
						a(href="#") Ver más
					article.col.s6
						img
						h4 Lorem ipsum
						h6 2 de Junio de 2017
						a(href="#") Ver más
				
				
				
					
				div.info
					p.subtitle ¿Deseas enviar este archivo?
					a.btn.waves-effect.darken-1.callToActionBtn Enviar 
					h5 Si tienes dudas o comentarios puedes comunicarte al:
					p (667) 715 1115
					p ventas@rcimpresos.mx

					
				


					


	include ./../../components/footer/index.jade