.main-blog
	top 0
	position relative
	text-align center
	
	.blog-wrap
		margin 0
		
		.blog
			margin 0
			padding 2em
		.content
			max-width 500px
			margin 0 auto
			
		#title
			background #00A3DA
			color white
			text-align center
			img 
				width 2em
		.info
			text-align center
		
@media (min-width $md)
	.main-blog
		text-align left
		.blog-wrap
			.fila1
				display flex
			.fila2
				display flex


		
