section.footer
	div.container
		div.flex3
			div
				img(src="img/logo-positive.svg" style="width:8em")
				div(style="margin-top:1em; margin-bottom:1em")
					a
						img(src="img/fbicon.svg" style="width:2em")
					a
						img(src="img/instaicon.svg" style="width:2em; margin-left:1em")

				a(href="formatos.html") Formatos de entrega
				br
				a(href="depositos.html") Depósitos y transferencias

			div.center-align
				h6 ¿Estas listo para contactarnos? Cuéntanos sobre tu proyecto
				a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto

			div.brand-logo 
				img(src="img/Mnajarrez-logo.svg" style="width8em")
				img(src="img/ESR-180px.png" style="width8em")

	div.terms.center-align
		span Todos los derechos reservado RCIMPRESOS® 
			a(href="") Aviso de privacidad.
			span Unidad especializada de atención a usuarios.
script(src='https://use.fontawesome.com/d92b21401b.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
script
	$('.carousel.carousel-slider').carousel({fullWidth: true});


