section.footer
	div.container
		div.flex3
			div.brand-logo1
				img(src="img/logo-positive.svg" style="width:8em")
				div(style="margin-top:1em; margin-bottom:1em")
					a
						img(src="img/fbicon.svg" style="width:2em")
					a
						img(src="img/instaicon.svg" style="width:2em; margin-left:1em")

				a(href="formatos.html") Formatos de entrega
				br
				a(href="depositos.html") Depósitos y transferencias

			div.center-align
				h5 ¿Estás listo para contactarnos? Cuéntanos sobre tu proyecto
				a(href="cotizador.html").btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto

			div.brand-logo 
				img(src="img/Mnajarrez-logo.svg" style="width8em")
				br
				br
				img(src="img/ESR-180px.png" style="width8em")

	div.terms.center-align
		span Todos los derechos reservado RCIMPRESOS® 
			a(href="") Aviso de privacidad.
			span Unidad especializada de atención a usuarios.

		//- div.details s
include ../mobile-menu/index.jade
include ../header-small/index.jade
div.fullView
	div.fullView-container
		div.imagen
			div.closeModal
				i.fa.fa-times-circle(aria-hidden="true")
script(src='https://use.fontawesome.com/d92b21401b.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBg5-SjIeZaV9G1fkZDtEtLRvin7AP-4-k')
script(src='js/index.js')



