section.footer
	padding-top 1em
	padding-bottom 1em
	color white
	background-color $blue
	a
		color white
		text-decoration underline
	.terms
		margin-top 1em
		padding-top 0.5em
		border-top solid 1px rgba(255,255,255 0.2)
		font-size 0.8em
@media (min-width $sm)
	.flex3
		display flex
		>div
			flex-basis 33.33%