.main-billing
	margin 2em 0
	text-align center
	.billing
		margin 1em
		padding 0 0 .1em 0
	.billing-wrap
		.message
			h3
				font-weight 500
			p
				color gray
			h6 
				font-weight 500
		
		.billing-title
			h5
				font-weight 500
			p 
				font-weight 300
			padding 1.5em
			background #00A3DA
			color white
		.formulario
			padding 2em
		a.botton.enviar
			display block
	.info
		margin 3em 0

@media (min-width $md)
	.billing
		.billing-title
			text-align left
			img
				float right
		
			
	