.main-nosotros
	top 0
	position relative
	text-align center

	margin 0
	.nosotros-wrap
		
		.nosotros
			margin 0
			padding 2em
			
		#somos
			color white
				
			background #00A3DA
		#mision
			color white
			background #333333
		#vision
			background #F3F3F3
		.nos-info
			max-width 600px
			margin 0 auto