include ./head.jade
body
	//- section.haderLarge
	include ./components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-formatos
		section.formatos-wrap
			div.formato#title
					h4 Formatos y Envios
					img(src="img/flecha.svg")
			
			div.formato.content#programas
				div.text
					h5 Programas de Edición
					p Un trabajo de calidad comienza desde su composición, utilice programas de diseño Corel Draw, Ilustrador, Photoshop
				div.image
					img(src="img/programas.png")
			div.formato.content#extension
				div.text
					h5 Formatos
					p Son válidos también los formatos abiertos como TIFF, EPS, PDF y JPG siempres y cuando vengan en alta calidad
				div.image
					img(src="img/formatos.png")
			div.formato.content#cmyk
				div.text
						h5 Modos de colores
						p Sus archivos deben estar trabajados con modelo CMYK, en caso de enviar imágenes, enviarlas a escala de 20% y a 300dpi.
				div.image
					img(src="img/cmyk.png")
			div.formato.content#abc
				div.text
					h5 Convertir a curvas 
					p Si su trabajo tiene texto, favor de enviarlo de convertirlo a curvas (paths), o bien, guarde el archivo de cada una de las fuentes tipográficas que haya utilizado en una carpeta, junto con el documento de trabajo.
				div.image
					img(src="img/abc.png")
		
		
				
				div.info
						h5 Si tienes dudas o comentarios puedes comunicarte al:
						p (667) 715 1115
						p ventas@rcimpresos.mx

				
				


					


	include ./components/footer/index.jade