doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    //- <link rel="icon" href="img/favicon.ico">
    meta(name="description", content="")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='user-scalable=no, width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    //- Windows Application
    meta(name='application-name', content='ConCredito')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(rel='stylesheet', href="./css/index.css")
    //- Normalize all browser
    title RC impresos
    script(type='text/javascript').
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?53JWbk1eozkMClPjru13IIGxfMKkuJE6";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");





