include ./head.jade
body(data-section="index")
	//- section.haderLarge
	include ./components/headerLarge/headerLarge.jade
	//- section.banner
	include ./components/banner/index.jade
	div.main
		div.container
			div.block-center
				p.title 
					strong Imprimimos tus ideas
				p.subtitle Ofrecemos una solución innovadora a las necesidades de impresión de nuestros clientes.
			section.services-block
				div.a
					div.icon-wrap
						img(src="img/scoporativa.svg")
					p.box-title Asesoría Corporativa
					div.divider
					p Contamos con un equipo con amplia experiencia en materiales de impresión lo que nos permite ofrecer alternativas de decoración y señalización…
					a(href="services.html") Más información
				div.b
					div.icon-wrap
						img(src="img/sproyectos.svg")
					p.box-title Asesoría en proyectos nuevos
					div.divider 
					p Cuéntanos tus ideas y necesidades, seguramente te podemos recomendar la mejor opción de impresión para llevar a cabo ese proyecto…
					a(href="proyecto.html") Más información

				div.c
					div.icon-wrap
						img(src="img/scotiza.svg")
					p.box-title Instalación y mantenimiento
					div.divider
					p Un producto sin la instalación correcta pierde su efectividad, es por eso que ponemos a tu servicio la instalación y mantenimiento de todos los productos que realizamos…
					a(href="instalacion.html") Más información
			section.block-center
				p.title 
					strong Tu marca nunca se verá mejor
				p.subtitle Contamos con la tecnología en impresión más avanzada para entregarte materiales perfectos
				a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
			.divider
			sectio.four-block
				div
					div.header
						div.icon
							img.responsive-img(src="img/icon-1.svg")
						div.title Entrega a Domicilio
					p.info Entregamos tu material en cualquier parte del país para satisfacer tus necesidades de compra.
				div
					div.header
						div.icon
							img.responsive-img(src="img/calidad.svg")
						div.title Calidad Digital
					p.info Contamos con máquinas innovadoras que nos permiten ofrecerte la mejor calidad de impresión digital.
				div
					div.header
						div.icon
							img.responsive-img(src="img/Eficacia.svg")
						div.title Eficacia y Rapidez
					p.info Atendemos tus necesidades de impresión a la mayor brevedad posible.
				div
					div.header
						div.icon
							img.responsive-img(src="img/instalación.svg")
						div.title Instalación y Mantenimiento
					p.info No solo imprimimos tus ideas nos preocupamos por que quede instalado con la mejor calidad.
		section.jumbo
			div.block-center
				img(src="img/logotipo.svg")
				p.title.lh1
					strong ¿Tienes una idea?
				p.subtitle.italic La creatividad no tiene límites y RC impresos tampoco.
				p.italic.clightGray(style="max-width:500px") Si en nuestro sitio web no has encontrado lo que necesitas o si lo que necesitas nunca se ha hecho, cuéntanoslo y hagámoslo juntos.
				a.btn.waves-effect.darken-1.callToActionBtn Cotiza tu proyecto
		section.map#map mapa



	include ./components/footer/index.jade

