include ./head.jade
body
	//- section.haderLarge
	include ./components/headerLarge/headerLarge.jade
	//- section.banner
	//-include ./components/banner/index.jade
	div.main-nosotros
			section.nosotros-wrap
				div.nosotros#somos
					div.nos-info
						h4 Quienes somos
						p Somos una empresa de soluciones de impresión enfocada al servicio al cliente, que invierte en su gente, tecnología , cuidado al medio ambiente y apoyando a la comunidad.
						img(src="img/flecha.svg")
				div.nosotros#mision
					div.nos-info
						h4 Nuestra Misión
						p Ser la mejor opción en soliciones de impresion.
				div.nosotros#vision
					div.nos-info
						h4 ¿Cual es nuestra Visión?
						p Consolidarnos como empresa, otorgando un servicio fantástico y mejorando cada grupo de interés con el cual interactuamos.
			div.info
					h5 Si tienes dudas o comentarios puedes comunicarte al:
					p (667) 715 1115
					p ventas@rcimpresos.mx

				
				


					


	include ./components/footer/index.jade
