.carousel
	margin-top -1em
	.carousel-item#one
		background-image url('../img/banner1.jpg')
		background-size cover
		background-position center
		.modal-info
			background white
			width 40%
			margin 0 auto
			margin-top 2em
			border-radius 4px
			padding 1.5em
			h2
				color gray
				text-align center
			p.white-text 
				color #D8127D