.carousel
	margin-top -1em
	height 600px !important
	.carousel-item
		.container
			display flex !important
			justify-content center
			align-items center
			height 100%
	#one
		background-image url('../img/banner1.jpg')
	#two
		background-image url('../img/banner2.jpg')

@media (min-width $md)
	.carousel
		.carousel-item
			.container
				justify-content flex-end